@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    *@
</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@

<div class="row">
    <div class="col-sm-6 ">
        <div class="row">
            <h4><b>Índice de falta por motivo</b></h4>
            <div>
                <div class="col-md-12"><canvas id="faltaPorMotivo"></canvas></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <h4><b>Índice de falta por materia</b></h4>
            <div>
                <div class="col-md-12"><canvas id="faltaPorMateria"></canvas></div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />

<div class="row">
    <div class="col-sm-6 ">
        <div class="row">
            <h4><b>Índice de falta por justifica</b></h4>
            <div>
                <div class="col-md-12"><canvas id="faltaPorEscola"></canvas></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <h4><b>&nbsp;</b></h4>
            <div>
                <div class="col-md-12"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Chart.min.js"></script>

<script>
    //Aluno
    //"http://govhackseduc.azurewebsites.net/tables/Aluno?ZUMO-API-VERSION=2.0.0"

    //Aula
    //http://govhackseduc.azurewebsites.net/tables/Aula?ZUMO-API-VERSION=2.0.0

    var _url = "";
    if (!location.origin)
        _url = location.protocol + "//" + location.host;

    var RenderBarChart = function (element, source) {
        var ctx = document.getElementById(element);
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: source.XValues,//["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                    label: '# ausencias',
                    data: source.YValues,//[12, 19, 3, 5, 2, 3],
                    backgroundColor: source.BackGroundColor,
                    /*[
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)'/*,
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],*/
                    borderColor: source.BorderColor,
                    /*[
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ], */
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    };

    $.ajax({
        method: "GET",
        url: _url + "/Home/GetFaltaPorMotivo",
        success: function (result) {

            result = JSON.parse(result);

            var html = "<ul>";
            for (var i = 0; i < result.length; i++) {
                console.log(result[i]);
                html += result[i].toString() + "<br>";
            }
            html += "</ul>";
            $(".jumbotron").html(html);

            if (result) {
                RenderBarChart("faltaPorMotivo", result);
            }
        }
    });

    $.ajax({
        method: "GET",
        url: _url + "/Home/GetFaltaPorMateria",
        success: function (result) {

            result = JSON.parse(result);
            if (result) {
                RenderBarChart("faltaPorMateria", result);
            }
        }
    });

    $.ajax({
        method: "GET",
        url: _url + "/Home/GetFaltaPorEscola",
        success: function (result) {

            result = JSON.parse(result);
            if (result) {
                RenderBarChart("faltaPorEscola", result);
            }
        }
    });


</script>